@import "tailwindcss";

@keyframes float{
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

body {
  background-color: #09090b;
}

.glowRedEffect {
  box-shadow: 0 0 25px 5px rgba(239, 68, 68, 0.4);
}

.glowYellowEffect {
  box-shadow: 0 0 25px 5px rgba(250, 204, 21, 0.4);
}
.glowGreenEffect {
  box-shadow: 0 0 25px 5px rgba(74, 222, 128, 0.5);
}